<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
</div>
<nav>
  <ul>
    <li><a href="" [routerLink]="['/dashboard']">Dashboard</a></li>
    <li><a href="" [routerLink]="['/customers']">Customers</a></li>
    <li><a href="" [routerLink]="['/admin']">Admin-->Users</a></li>
    <li><a href="" [routerLink]="['/admin/emails']">Admin-->Emails</a></li>
  </ul>
</nav>
<button mat-raised-button>Ok</button>

<router-outlet></router-outlet>
